<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="Latitude" value="43.04" />
		<add key="Longitude" value="-76.14" />
		
		<add key="CameraJpgUrl" value="http://192.168.0.200/snap.jpeg" />

		<add key="SavePath" value="\\server\folder\\" />
		<add key="SavePathImage" value="\\server\\folder\\temp\\" />

		<add key="TwitterConsumerKey" value="" />
		<add key="TwitterConsumerSecret" value="" />
		<add key="TwitterAccessToken" value="" />
		<add key="TwitterAccessSecret" value="" />
		<add key="TwitterTweet" value="This footage is from {0}, runs from {1} to {2}, sunrise was at {3} and set at {4}. #LakeLapse" />
	</appSettings>
</configuration>